services:
    # Rules
    -
        class: PHPStan\Rules\Spryker\DynamicMethodMissingPhpDocAnnotationRule
        tags:
            - phpstan.rules.rule
        arguments:
            className: Spryker\Zed\Kernel\AbstractFactory
            methodNames:
                - getQueryContainer
                - getFacade

    -
        class: PHPStan\Rules\Spryker\DynamicMethodMissingPhpDocAnnotationRule
        tags:
            - phpstan.rules.rule
        arguments:
            className: Spryker\Yves\Kernel\AbstractFactory
            methodNames:
                - getConfig
                - getClient

    -
        class: PHPStan\Rules\Spryker\DynamicMethodMissingPhpDocAnnotationRule
        tags:
            - phpstan.rules.rule
        arguments:
            className: Spryker\Client\Kernel\AbstractClient
            methodNames:
                - getFactory
                - getFacade

    -
        class: PHPStan\Rules\Spryker\DynamicMethodMissingPhpDocAnnotationRule
        tags:
            - phpstan.rules.rule
        arguments:
            className: Spryker\Client\Kernel\AbstractPlugin
            methodNames:
                - getClient
                - getFactory

    -
        class: PHPStan\Rules\Spryker\DynamicMethodMissingPhpDocAnnotationRule
        tags:
            - phpstan.rules.rule
        arguments:
            className: Spryker\Shared\Kernel\AbstractBundleConfig
            methodNames:
                - getSharedConfig

    -
        class: PHPStan\Rules\Spryker\DynamicMethodMissingPhpDocAnnotationRule
        tags:
            - phpstan.rules.rule
        arguments:
            className: Spryker\Zed\Kernel\Communication\Console\Console
            methodNames:
                - getFacade
                - getQueryContainer
                - getFactory

    -
        class: PHPStan\Rules\Spryker\DynamicMethodMissingPhpDocAnnotationRule
        tags:
            - phpstan.rules.rule
        arguments:
            className: Spryker\Zed\Kernel\Communication\Controller\AbstractController
            methodNames:
                - getFacade
                - getQueryContainer
                - getFactory

    -
        class: PHPStan\Rules\Spryker\DynamicMethodMissingPhpDocAnnotationRule
        tags:
            - phpstan.rules.rule
        arguments:
            className: Spryker\Zed\Kernel\Business\AbstractFacade
            methodNames:
                - getFactory

    -
        class: PHPStan\Rules\Spryker\DynamicMethodMissingPhpDocAnnotationRule
        tags:
            - phpstan.rules.rule
        arguments:
            className: Spryker\Zed\Kernel\Communication\AbstractPlugin
            methodNames:
                - getFacade
                - getFactory
                - getQueryContainer
                - getConfig

    -
        class: PHPStan\Rules\Spryker\DynamicMethodMissingPhpDocAnnotationRule
        tags:
            - phpstan.rules.rule
        arguments:
            className: Spryker\Zed\Kernel\Persistence\AbstractQueryContainer
            methodNames:
                - getFactory

    -
        class: PHPStan\Rules\Spryker\DynamicMethodMissingPhpDocAnnotationRule
        tags:
            - phpstan.rules.rule
        arguments:
            className: Spryker\Service\Kernel\AbstractService
            methodNames:
                - getFactory
                - getConfig

    -
        class: PHPStan\Rules\Spryker\DynamicMethodMissingPhpDocAnnotationRule
        tags:
            - phpstan.rules.rule
        arguments:
            className: Spryker\Yves\Kernel\Form\AbstractType
            methodNames:
                - getFactory
                - getConfig
                - getQueryContainer

    -
        class: PHPStan\Rules\Spryker\DynamicMethodMissingPhpDocAnnotationRule
        tags:
            - phpstan.rules.rule
        arguments:
            className: Spryker\Zed\Kernel\Communication\Form\AbstractType
            methodNames:
                - getFacade
                - getFactory
                - getConfig
                - getQueryContainer

    # Extensions
    -
        class: PHPStan\Type\Spryker\DynamicMethodMissingTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            className: Spryker\Zed\Kernel\AbstractFactory
            methodNames:
                - getQueryContainer
                - getFacade

    -
        class: PHPStan\Type\Spryker\DynamicMethodMissingTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            className: Spryker\Yves\Kernel\AbstractFactory
            methodNames:
                - getConfig
                - getClient

    -
        class: PHPStan\Type\Spryker\DynamicMethodMissingTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            className: Spryker\Client\Kernel\AbstractClient
            methodNames:
                - getFactory
                - getFacade

    -
        class: PHPStan\Type\Spryker\DynamicMethodMissingTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            className: Spryker\Client\Kernel\AbstractPlugin
            methodNames:
                - getClient
                - getFactory

    -
        class: PHPStan\Type\Spryker\DynamicMethodMissingTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            className: Spryker\Shared\Kernel\AbstractBundleConfig
            methodNames:
                - getSharedConfig

    -
        class: PHPStan\Type\Spryker\DynamicMethodMissingTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            className: Spryker\Zed\Kernel\Communication\Console\Console
            methodNames:
                - getFacade
                - getQueryContainer
                - getFactory

    -
        class: PHPStan\Type\Spryker\DynamicMethodMissingTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            className: Spryker\Zed\Kernel\Communication\Controller\AbstractController
            methodNames:
                - getFacade
                - getQueryContainer
                - getFactory

    -
        class: PHPStan\Type\Spryker\DynamicMethodMissingTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            className: Spryker\Zed\Kernel\Business\AbstractFacade
            methodNames:
                - getFactory

    -
        class: PHPStan\Type\Spryker\DynamicMethodMissingTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            className: Spryker\Zed\Kernel\Communication\AbstractPlugin
            methodNames:
                - getFacade
                - getFactory
                - getQueryContainer
                - getConfig

    -
        class: PHPStan\Type\Spryker\DynamicMethodMissingTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            className: Spryker\Zed\Kernel\Persistence\AbstractQueryContainer
            methodNames:
                - getFactory

    -
        class: PHPStan\Type\Spryker\DynamicMethodMissingTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            className: Spryker\Service\Kernel\AbstractService
            methodNames:
                - getFactory
                - getConfig

    -
        class: PHPStan\Type\Spryker\DynamicMethodMissingTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            className: Spryker\Yves\Kernel\Form\AbstractType
            methodNames:
                - getFactory
                - getConfig
                - getQueryContainer

    -
        class: PHPStan\Type\Spryker\DynamicMethodMissingTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
        arguments:
            className: Spryker\Zed\Kernel\Communication\Form\AbstractType
            methodNames:
                - getFacade
                - getFactory
                - getConfig
                - getQueryContainer